.has-error p, .has-error input, .has-error input:focus {
    color: red;
    border-color: red;
}
#map {
    position: fixed !important;
    height: 100% !important;
    width: 100% !important;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
ul{
    padding: 0;
    list-style-type: none;
}
li{
    cursor: pointer;
}
a.disabled {
    pointer-events: none;
    cursor: default;
}
.arrange-middle{
    padding: 0;
    margin: 0px auto;
}
.full-weight{
    width: 100%;
}
.style-input{
    padding: 0;
    border: none;
    border-bottom: 1px solid #80808052;
    background: none;
    border-radius: 0;
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
form{
    margin: 0;
    padding: 10px;
}
.card{
    padding: 15px;
}
.arrange_btn{
    width: 100%;
}
.input-group{
    border: 1px solid #80808026;
    border-radius: 6px;
}
.date{
    margin-top: 38px;
}
th{
    text-align: center;
}
td{
    text-align: center;
}
ul.pagination
{
    border:solid 1px #CCCCCC;
    border-radius:5px;
}

ul.pagination li.pagination-page
{
    border-right:solid 1px #CCCCCC;
    padding-left:15px;
    padding-right:15px;
}

/*.pagination-prev*/
ul.pagination li
{
    border-right:solid 1px #CCCCCC;
    padding:10px;
    text-decoration: none;
}

ul.pagination li:hover{
    background-color: #CCCCCC;
    text-decoration: none;
}
ul.pagination li:active{
    background-color: blue;
    text-decoration: none;
}
li.active{
    background-color: #337ab7;
    color: white;
}
li.active a{
    color: white;
}
li.active:first-child{
    background-color: #f8f9fa;

}
.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td {
    padding: 3px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 20px;
}
.bg-cust{
    background-color: #F7EECC;
    margin: 0 !important;
    padding: 0 !important;
}
.margin-bottom-20{
    margin-bottom: 20px;
}