
<div class="container">
    <div class="col-md-12">
        <div class="wrapper" ng-app="mainApp" ng-controller="classCtrl">
            <div class="row">
                <div class="col-md-12 margin-bottom-20">
                    <div class="btn btn-primary" ng-click="addNewClass()">Add class</div>

                </div>

            </div>

            <table class="table">
                <thead class="bg-cust">
                <tr>
                    <th>Class name</th>
                </tr>
                </thead>

                <tbody>
                <tr class="repeat-animation" ng-repeat="class in classList">
                    <td>{{class.class}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


