
<div class="container">
    <div class="col-md-12">
        <div class="wrapper" ng-app="mainApp" ng-controller="gradesCtrl">
            <div class="row">
                <div class="col-md-12 margin-bottom-20">
                    <div class="btn btn-primary" ng-click="addNewGrade()">Add grade</div>

                </div>

            </div>

            <table class="table">
                <thead class="bg-cust">
                <tr>
                    <th>Student</th>
                    <th>Grade</th>
                </tr>
                </thead>

                <tbody>
                <tr class="repeat-animation" ng-repeat="student in studentGrades">
                    <td>{{student.name}}</td>
                    <td>{{student.grade}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


