<div class="modal-header">
    <h3>Class</h3>
</div>
<form name="form.userForm" novalidate>
    <div class="modal-body">
        <div class="form-group">
            <label>Class name</label>
            <input type="text" name="className" class="form-control" ng-model="currentClass.class" required>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" ng-click="submitForm()" class="btn btn-primary" ng-disabled="form.userForm.$invalid">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>