<div class="modal-header">
    <h3>Grade</h3>
</div>
<form name="form.userForm"  novalidate>
    <div class="modal-body">
        <!-- NAME -->
        <div class="form-group">
            <label>Student</label>

            <select class="form-control" ng-model="newGrade.studentId" ng-options="student.id as (student.first_name + ' ' + student.last_name) for student in studentsList">
            </select>
        </div>
        <div class="form-group">
            <label>Grade</label>
            <select class="form-control" ng-model="newGrade.grade">
                <option ng-repeat="grade in gradesList" >{{grade.grade}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" ng-click="submitForm()" class="btn btn-primary" ng-disabled="form.userForm.$invalid">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>