<div class="modal-header">
    <h3>Student</h3>
</div>
<form name="form.userForm" novalidate>
    <div class="modal-body">
        <div class="form-group">
            <label>First name</label>
            <input type="text" name="firstName" class="form-control" ng-model="currentStudent.first_name" required>
        </div>

        <div class="form-group">
            <label>Last name</label>
            <input type="text" name="lastName" class="form-control" ng-model="currentStudent.last_name" required>
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" class="form-control" ng-model="currentStudent.email" required>
        </div>

        <div class="form-group">
            <label>Birth date</label>
            <input type="date" name="birthdate" class="form-control" ng-model="currentStudent.birthdate" required>
        </div>

        <div class="form-group">
            <label>Class name</label>
            <select class="form-control" ng-model="currentStudent.class_name">
                <option ng-repeat="classes in listOfClasses" >{{classes.class}}</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="submitForm()" ng-disabled="form.userForm.$invalid">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>