<div class="modal-header">
    <h3>Teacher</h3>
</div>
<form name="form.userForm" novalidate>
    <div class="modal-body">
        <!-- NAME -->
        <div class="form-group">
            <label>First name</label>
            <input type="text" name="firstName" class="form-control" ng-model="currentTeacher.first_name" required>
            <p ng-show="form.userForm.first_name.$invalid && !form.userForm.name.$pristine" class="help-block">First name is required.</p>
        </div>

        <div class="form-group">
            <label>Last name</label>
            <input type="text" name="lastName" class="form-control" ng-model="currentTeacher.last_name" required>
            <p ng-show="form.userForm.last_name.$invalid && !form.userForm.name.$pristine" class="help-block">Last name is required.</p>
        </div>

        <!-- USERNAME -->

        <!-- EMAIL -->
        <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" class="form-control" ng-model="currentTeacher.email" required>
            <p ng-show="form.userForm.email.$invalid && !form.userForm.email.$pristine" class="help-block">Enter a valid email.</p>
        </div>

        <div class="form-group">
            <label>Birth date</label>
            <input type="date" name="birthdate" class="form-control" ng-model="currentTeacher.birthdate" required>
            <p ng-show="form.userForm.birthdate.$invalid && !form.userForm.birthdate.$pristine" class="help-block">Birth date is required.</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" ng-click="submitForm()" class="btn btn-primary" ng-disabled="form.userForm.$invalid">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>