
<div class="container">
    <div class="col-md-12">
        <div class="wrapper" ng-app="mainApp" ng-controller="studentsCtrl">
            <div class="row">
                <div class="col-md-12 margin-bottom-20">
                    <div class="btn btn-primary" ng-click="addNewStudent()">Add student</div>

                </div>

            </div>

            <table class="table">
                <thead class="bg-cust">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Birth date</th>
                    <th>Class name</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                <tr class="repeat-animation" ng-repeat="student in studentsList">
                    <td>{{student.first_name}}</td>
                    <td>{{student.last_name}}</td>
                    <td>{{student.email}}</td>
                    <td>{{student.birthdate}}</td>
                    <td>{{student.class_name}}</td>
                    <td class="text-center">
                        <span ng-click="editStudent(student)"><i class="fas fa-edit"></i></span>
                        <span ng-click="removeStudent(student)"><i class="fas fa-trash-alt"></i></span>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


