
<div class="container">
    <div class="col-md-12">
        <div class="wrapper" ng-app="mainApp" ng-controller="teachersCtrl">
            <div class="row">
                <div class="col-md-12 margin-bottom-20">
                    <div class="btn btn-primary" ng-click="addNewTeacher()">Add new teacher</div>

                </div>

            </div>

            <table class="table">
                <thead class="bg-cust">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Birth date</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                <tr class="repeat-animation" ng-repeat="teacher in teachersList">
                    <td>{{teacher.first_name}}</td>
                    <td>{{teacher.last_name}}</td>
                    <td>{{teacher.email}}</td>
                    <td>{{teacher.birthdate}}</td>
                    <td class="text-center">
                        <span ng-click="editTeacher(teacher)"><i class="fas fa-edit"></i></span>
                        <span ng-click="removeTeacher(teacher)"><i class="fas fa-trash-alt"></i></span>
                    </td>                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


